{% extends 'base.html' %}

{% block title %}
Добавление новости
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<h1>Добавление новости</h1>
<form action="{% url 'news:add_news' %}" method="post">
    {% csrf_token %}


    {{ form.as_p }} <!-- as_p - означает, что каждое поле формы будет заключен в параграф -->


    {% comment %}
    {{ form.non_field.errors }} <!-- данное поле для общих ошибок -->
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Название новости </label>
        {{ form.title }}
    </div>
    <div class="invalid-feedback">
        {{ form.title.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.content.id_for_label }}">Текст </label>
        {{ form.content }} <!-- Выводим input для title -->
    </div>
    <div class="invalid-feedback">
        {{ form.content.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.is_published.id_for_label }}">Опубликовано? </label>
        {{ form.is_published }}
    </div>
    <div class="invalid-feedback">
        {{ form.is_published.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.category.id_for_label }}">Категория </label>
        {{ form.category }}
    </div>
    <div class="invalid-feedback">
        {{ form.category.errors }}
    </div>
    {% endcomment %}

    <button type="submit" class="btn btn-primary btn-block">Добавить новость</button>
</form>
{% endblock %}